{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                {% if product.photo %}
                        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static "online-shopping.jpg" %}" alt="No photo!" />
                    {% endif %}
            </div>
        </div>
        <p><b>Категория:</b> {{ product.get_category_display }}</p>
        <p><b>Цена:</b> {{ product.price }} сом</p>
        <p><a href="{% url 'webapp:basket_change' %}?pk={{ product.pk }}&action=add&next={% url "webapp:product_detail" product.pk %}" class="btn btn-primary">В корзину</a></p>
        {% if perms.webapp.change_product %}
            <p><a href="{% url 'webapp:product_edit' product.pk %}" class="btn btn-primary">Редактировать</a></p>
        {% endif %}
        {% if perms.webapp.delete_product %}
            <p><a href="{% url 'webapp:product_delete' product.pk %}" class="btn btn-primary">Удалить</a></p>
        {% endif %}
    </div>
{% endblock %}
